/***************************
GENREAL 
***************************/

* {
	font-family: 'Roboto', serif;
    font-weight: 100;
}

.banner {
	position: fixed;
	margin: 10px;
	z-index: -1;
}
.title {
	margin: 0;
}

.banner img {
	width: 60px;
}
#arjsDebugUIContainer, .a-enter-vr {
	display: none !important;
}


.layer {
	display: none;
	width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
}

.lds-dual-ring {
	position: fixed;
	margin: auto;
	right: calc(50% - 50px);
	top: calc(50% - 50px);
	display: inline-block;
	width: 100px;
	height: 100px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 100px;
	height: 100px;
	margin: 1px;
	border-radius: 50%;
	border: 10px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

.select-ring {
    width: 30px;
    margin: 4px 0 0 10px;
}

.select-ring:after {
	content: " ";
	display: block;
	width: 15px;
	height: 15px;
	margin: 1px;
	border-radius: 50%;
	border: 3px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

@keyframes lds-dual-ring {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/***************************
CONTENIDO
***************************/

.container {
    width: 100%;
	display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.content {
    padding: 10px;
    position: absolute;
    width: 275px;
    background-color: #fff;
}

.flexer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px;
    width: 90%;
    text-align: center;
    background-color: #1b1b1b;
    color: #dedede;
    padding: 10px;
}

.button:hover,.go-back:hover  {
	cursor: pointer;
}

#input-generate {
	padding: 10px;
	margin: 10px 10px 0 10px;
	width: 90%;
}

#select-content, #new-block-content, #total-content {
	display: none;
}

.setter {
	width: 100%;
    margin: 10px 10px 0 10px;
}

.flexer-title {
	font-size: 20px;
}

.go-back {
	font-weight: 600;
}

select {
    -webkit-appearance: menulist-button;
    height: 30px;
    width: 100%;
}

.see-total {
	width: 100%;
	text-decoration: none;
}

.see-total .button {
	margin: 10px 0;
}