* {
	font-family: 'Roboto Slab', serif;
}

.title {
	position: fixed;
	margin: 10px;
}

.buttons {
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.buttons > div {
	margin-bottom: 10px;
}

.button {
	text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

#input-generate {
	width: 200px;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.generate-block-combo {
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.layer {
	display: none;
	width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
}

.lds-dual-ring {
	position: fixed;
	margin: auto;
	right: calc(50% - 50px);
	top: calc(50% - 50px);
	display: inline-block;
	width: 100px;
	height: 100px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 100px;
	height: 100px;
	margin: 1px;
	border-radius: 50%;
	border: 10px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

select {
	color: white;
    font-size: 17px;
}

@keyframes lds-dual-ring {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
